<ul>
  <li><a href="/maglev.github.com/docs/get_started.html">MagLevを始めよう</a></li>
  <li>
    Learn
    <ul>
      <li><a href="/maglev.github.com/docs/learn.html">オブジェクトの永続化</a></li>
      <li><a href="/maglev.github.com/docs/persistent_code.html">コードの永続化</a></li>
    </ul>
  </li>
  <li><a href="/maglev.github.com/docs/further_reading.html">もっと読む</a></li>
  <li><a href="/maglev.github.com/docs/build.html">MagLevをビルドする</a></li>
  <li><a href="/maglev.github.com/docs/gemtools.html">GemTools</a></li>
  <li><a href="/maglev.github.com/docs/development.html">開発を始める</a></li>
</ul>
